/* GENERAL */
html, body{
    font-family: Futura, "Trebuchet MS",Arial,sans-serif;
    padding:0;
    margin:0;
}

body{
    background-image: url(assets/background.png);
}

#container{
    margin-left:15%;
    margin-right:15%;
}

@media screen and (max-width:700px) {
    #container{
        margin-left:5%;
        margin-right:5%;
    }
}

#div-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

#div-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

/* TEXT */

h1{
    font-size: 40pt;
    margin-bottom: 5px;
}

.info{
    font-style: italic;
}

a{
    color: #ca4016;
}

table{
    width:90%;
    border-collapse: collapse;
    border-radius:10px;
}

li{
    font-size:20pt;
}

td{
    font-size:20pt;
    border:3px solid black;
    padding:5px;
}



/* BOXES/BUTTONS */

.box{
    background-color: #f9a538;
    border-radius:10px;
    padding:20px;
    margin:10px;
    border: 4px solid black;
}

#card-grid{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(10px,160px));
    gap:10px;
}

#color-card-grid{
    display:grid;
    grid-template-columns: repeat(4,minmax(10px,160px));
    gap:10px;
}

button{
    background-color: rgb(249, 214, 56);
    border-radius:10px;
    display: block;
    width: 100%;
    border: 4px solid black;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-family: Futura, "Trebuchet MS",Arial,sans-serif;
    font-size:20pt;
    position:relative;
    top:-5px;
    left:-5px;
    filter:drop-shadow(5px 5px 0px rgb(29, 29, 29));    
}

button:hover{
    top:0px;
    left:0px;
    filter:none; 
}

input{
    background-color: rgb(250, 248, 237);
    border-radius:10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 4px solid black;
    padding: 10px;
    font-family: Futura, "Trebuchet MS",Arial,sans-serif;
    font-size:20pt;
}

/* CARDS */
.card{
    width:100%;
    position:relative;
    border-radius:25%;
    top:-5px;
    left:-5px;
    cursor: pointer;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

#card-piles .card{
    width: 40%;
    display:inline-block;
    margin:10px;
}

@media screen and (max-width:1200px){ 
    #card-piles{
        text-align:center;
    }
}

.card:hover{
    top:0px;
    left:0px;
}
.card img{
    width:100%;
    filter:drop-shadow(5px 5px 0px rgba(29, 29, 29, 0.562));
    user-select: none;
}
.card:hover img{
    filter:none;
}
.card p{
    font-size:60pt;
    text-align: center;
    position:absolute;
    width:100%;    
    display:block;
    top:50%;
    transform: translateY(-50%);
    margin:0;
    padding:0;
    filter:grayscale(1);
    user-select: none;
}